<div class="product">
	<img class="product-image" src="{{url}}">
	<div class="product-meta">
		<h2 class="product-text"> {{petname}} </h2>

<<<<<<< HEAD
		{{#if hideInfo}}
=======
		<h2 class="product-species"> {{species}} </h2>
>>>>>>> 79f58f7da75e37ef0ac1dab76b94e95fa8886eb2
		<h2 class="product-color"> {{color}} </h2>


		<p class="product-price"> {{petprice}} </p>
	</div>
</div>
