<div class="product">
	<img class="product-image" src="{{url}}">
	<div class="product-meta">
		<h2 class="product-text"> {{petname}} </h2>

		<h2 class="product-species"> {{species}} </h2>
		<h2 class="product-color"> {{color}} </h2>


		<p class="product-price"> {{petprice}} </p>
	</div>
</div>
