<div id="single-checkout">
	<div id="checkout-dialog">
		<div class="checkout-body">
			<div class="checkout-left">
				<img id="checkout-image" src={{url}}>
			</div>
			<div class="checkout-right">
				<h2 class="checkout-title">{{petname}}</h2>
				<h2 class="checkout-price">{{petprice}}</h2>
				<a href="/"><button type="button" class="add-to-cart">Check Out</button></a>
				<p class="checkout-description"> {{petname}} ,a {{petcolor}} {{petspecies}}!  </p>
			</div>
		</div>
	</div>
</div>
