<div id="single-product">
	<div id="product-dialog">
		<div class="product-body">
			<div class="product-left">
				<img id="product-image" src={{url}}>
			</div>
			<div class="product-right">
				<h2 class="product-title">{{petname}}</h2>

				<h2 class="product-price">{{petprice}}</h2>
				<a href="/{{petname}}/checkoutPage"> <button type="button" class="add-to-cart">Add to Cart</button> </a>
				<p class="product-description"> {{petname}} is a friendly {{petcolor}} {{petspecies}}! Please take a moment to consider purchasing it. </p>

			</div>
		</div>
	</div>
</div>