<div id="single-product">
	<div id="product-dialog">
		<div class="product-body">
			<div class="product-left">
				<img id="product-image" src={{url}}>
			</div>
			<div class="product-right">
				<h2 class="product-title">{{petname}}</h2>

				<h2 class="product-price">{{petprice}}</h2>
				<button type="button" class="add-to-cart">Add to Cart</button>
				<p class="product-description"> {{petname}} is a friendly {{color}} pet! Buy him please. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.  </p>

				<h2 id="related-product-heading">Related Products</h2>
				<div class="related-products">
					<img class="related-product" src="" alt="">
					<img class="related-product" src="" alt="">
					<img class="related-product" src="" alt="">
				</div>
			</div>
		</div>
	</div>
</div>